* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

button {
    background-color: #FAFAFA;
    border: none;
}

header{
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

main{
    width: calc(100% - 380px);
    flex-direction: column;
    margin: 146px auto 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insert-quizz{
    width: 100%;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    flex-direction: column;
    padding: 33px;
}

.create-quizz-button{
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

/* texts */
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
h2{
    font-family: 'Roboto';

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
    margin-top: 27px;
}
.null-quizz{
    height: 107px;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}



ion-icon {
    color: #EC362D;
    font-size: 31px;
}

/* quizz creation page ---essa seção está ok*/ 

strong {
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}

.quizz-creation {
    width: 600px;
    height: 256px;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 85px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 24px 22px 16px;
    justify-content: space-between;
}

.quizz-creation > input {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 564px;
    height: 46px;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}
/*---------NEW----------- ESSA É A PARTE DE INSERÇÃO DOS QUIZZES DO SERVIDOR, PRECISA AJUSTAR O CSS TODO AINDA;*/
.other-quizzes{
    margin-top: 70px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.first-pageQuizzes{
    background-color: #FAFAFA;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1050px;
    height: 181px;
}
.gradient {
    width: 340px;
    height: 180px;
    border-radius: 6px;
    
    background: linear-gradient(0deg, #000000,transparent);
    position: absolute;
} 

.quizzBox{
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.quizzBox>img{  
    border-radius: 6px;
    width: 340px;
    height: 180px;
    cursor: pointer;
    position: relative;
}
.quizzBox>h4{
    max-width: 300px;
    position: absolute;
    z-index: 1;
    bottom: 6px;
    left: 24px;
    font-size: 19px;
    line-height: 25px;
    text-align: start;
    word-wrap: break-word;
    color: #fff;
}
h4:hover {
    text-shadow: 0 0 4px #fff;
}
.texto{
    color: #FFFFFF;
    position: absolute;
    z-index: 1;
    font-size: 19px;
}
.textQuizzTitle{
    font-weight: 700;
    text-align: start;
    font-size: 20px;
}

/*-------------------FINAL DO NEWWWWWWWWWW----------------------------*/
/*quizz questions -------ESSA SEÇÃO ESTÁ OK*/
.create-questions-title{
    margin-bottom: 36px;
}
.quizz-questions{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question-box{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    
}
input{
    font-style: italic;
    padding-left: 23px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
}
.first-question{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 24px;
}
.next-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions-answers{
    margin-bottom: 14px;
}

.vector-image{
    margin-top: 26px;
    display: block;
}

.create-levels-button{
    margin:auto;
    background-color: #EC362D;
    width: 353.91px;
    height: 54px;
    border-radius: 15px;
    color: #FFFFFF;
    margin-top: 54px;
    margin-bottom: 12px;
}
.table-question{
    display: flex;
    flex-direction: column;
}
.other-question{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 24px;
}
.create-question-button {
    margin: auto;
    background-color: #EC362D;
    width: 353.91px;
    height: 54px;
    border-radius: 15px;
    color: #FFFFFF;
}
/*QUIZZ LEVELS*/

.quizz-levels{
    display: flex;
    align-items: center;
    flex-direction: column;
}